/* Google fonts */
.cormorant-font {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}

.header-text{
    font-size: 50px;
}

/* Formats background image to fit screen width and repeat */
.bg-img {
    background-image: url("https://cdn.pixabay.com/photo/2019/12/15/08/33/blue-4696575_1280.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

/* Formatting for jumbotron text*/
.bg-white{
    background-color: white;
}

#jumbo-text{
    font-size: 100px;
}

#nav-text{
    font-size: 35px;
}
/* Nav black bottom border */
.nav-border {
    border-bottom-width: 8px !important;
    color: black;
}

/* Sets HTML and body height to 100% */
html, body {
    height: 100%;
}

/* Body properties for sticky footer */
body {
    display: flex;
    flex-direction: column;
}

/* Content class for sticky footer */
.content {
    flex: 1 0 auto;
}

/* Footer property for sticky footer */
.footer {
    flex-shrink: 0;
    background-color: black;
}

