/* Google fonts */
.cormorant-font {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}

.header-text{
    font-size: 50px;
}

.sub-text{
    font-size: 30px;
}

/* Formatting for jumbotron text*/
.bg-white{
    background-color: white;
}

#jumbo-text{
    font-size: 100px;
}

#nav-text{
    font-size: 35px;
}
/* Nav black bottom border */
.nav-border {
    border-bottom-width: 8px !important;
    color: black;
}

/* Sets HTML and body height to 100% */
html, body {
    height: 100%;
}

/* Body properties for sticky footer */
body {
    display: flex;
    flex-direction: column;
}

/* Content class for sticky footer */
.content {
    flex: 1 0 auto;
}

/* Footer property for sticky footer */
.footer {
    flex-shrink: 0;
    background-color: black;
}

/* Center card for porfolio */
.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

/* Background jumbotron */
.bg-img {
    background-image: url("assets/concrete.jpg");
    /* background-repeat: repeat; */
    background-size: cover;
    background-position: center;
}
