/* Google fonts */
.playfair-font {
    font-family: 'Playfair Display', serif;
}

.dancing-font{
    font-family: 'Dancing Script', cursive;
    font-size: 150px;
}

/* Formats background image to fit screen width and repeat */
.bg-img {
    background-image: url("https://cdn.pixabay.com/photo/2019/12/15/08/33/blue-4696575_1280.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

/* Formatting for jumbotron */
#jumbotron{
    background-image: url("https://cdn.pixabay.com/photo/2019/12/15/08/33/blue-4696575_1280.jpg");
    background-size: cover;
    background-position: center;
}

/* Sets HTML and body height to 100% */
html, body {
    height: 100%;
}

/* Body properties for sticky footer */
body {
    display: flex;
    flex-direction: column;
}

/* Content class for sticky footer */
.content {
    flex: 1 0 auto;
}

/* Footer property for sticky footer */
.footer {
    flex-shrink: 0
}

/* Add turquoise top border to footer */
.footer-top {
    border-top-width: 8px !important;
}
